*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(206, 244, 208);
}

#panel{
    overflow: hidden;
    width: 80%;
    height: 80%;
    background-color: white;
    border-radius: 10px;
}

#ptop{
    padding: 0 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 100%;
    height: 80px;
    background-color: rgb(72, 104, 72) ;
}
.elem{
    display: flex;
    align-items: center;
    gap: 20px;
}
.elem h2{
    font-weight: 500;
    font-size: 22px;
}
.box{
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
    color: rgb(18, 119, 57);
    font-weight: 600;
    font-size: 22px;
}

.pbottom{
    display: flex;
    justify-content: center;
    align-items: center;
   width: 100%;
   height: calc(100% - 80px) ; 
   padding: 15px;
   display: flex;
   gap: 8px;
   flex-wrap: wrap;
}

.bubble{
    width: 40px;
    height: 40px;
    background-color: rgb(72, 104, 72);
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}
.bubble:hover{
    cursor: pointer;
    background-color: rgb(50, 75, 50);
}